body {
   background-color : #ccccff;
}

.lol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 500px;
  max-width: 100%;
  font-family: Comic Sans MS;
}

a {
    font-family: OCR A Std, monospace;
    color: black;
}

a:hover {
  color: red
}

.comic {
  font-family: Comic Sans MS;
}
